<div class="container">

  <hr class="my-5">

  <!-- Card -->
  <div class="card">

    <!-- Card image -->
    <div class="view overlay">
        <img class="card-img-top" src="https://wallpapercave.com/wp/wp4270117.jpg" alt="Card image cap">
    </div>

    <!-- Card content -->
    <div class="card-body">

      <!-- Title -->
      <h2 class="card-title">The Chat</h2>

      <!-- Redirection Link -->
      <a [routerLink]="['/login']">
        <p class="waves-light" mdbWavesEffect>Login
          <mdb-icon fas icon="chevron-right" class="waves-light" mdbWavesEffect></mdb-icon>
        </p>
      </a>

    </div>

  </div>
  <!-- Card -->

</div>