.card{
    width: 50%;
    margin: auto;
}
.info-color {
    background-color: #3f729b!important;
}

.btn-outline-info {
    border: 2px solid #3f729b!important;
    background-color: transparent!important;
    color: #3f729b!important;
}