<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div class="container">

    <hr class="my-5">

    <!-- Material form register -->
    <mdb-card class="card">
        <mdb-card-header class="info-color white-text text-center py-4">
            <h3>
                <strong>Sign in</strong>
            </h3>
        </mdb-card-header>

        <!--Card content-->
        <mdb-card-body>

            <!-- Form -->
            <form class="text-center" style="color: #757575;">

                <!-- E-mail -->
                <div class="md-form mt-0">
                    <input type="email" id="materialRegisterFormEmail" class="form-control" mdbInput>
                    <label for="materialRegisterFormEmail">
                            <mdb-icon fas icon="envelope"></mdb-icon> E-mail
                    </label>
                </div>

                <!-- Password -->
                <div class="md-form">
                    <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock"
                        mdbInput>
                    <label for="materialRegisterFormPassword">
                            <mdb-icon fas icon="key"></mdb-icon> Password
                    </label>
                </div>

                <!-- Sign in button -->
                <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
                    mdbWavesEffect type="submit">Sign in</button>

                <!-- Register -->
                <p>Not a member?
                    <a [routerLink]="['/register']">Register</a>
                </p>

            </form>
            <!-- Form -->

        </mdb-card-body>

    </mdb-card>
    <!-- Material form register -->

</div>