<div class="container">

    <hr class="my-5">

    <!-- New post button -->
    <!-- <a (click)="addPost()">
        <mdb-icon fas icon="plus" size="2x" aria-hidden="true"></mdb-icon>
    </a> -->

    <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
        (click)="frame.show()" mdbWavesEffect>Launch Modal
</button>

<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Subscribe</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
          <input type="text" id="form3" class="form-control" [formControl]="subscriptionFormModalName"
                 mdbInput mdbValidate>
          <label for="form3">Your name</label>
          <mdb-error
            *ngIf="subscriptionFormModalName.invalid && (subscriptionFormModalName.dirty || subscriptionFormModalName.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="subscriptionFormModalName.valid && (subscriptionFormModalName.dirty || subscriptionFormModalName.touched)">
            Input valid
          </mdb-success>
        </div>

        <div class="md-form mb-4">
          <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
          <input type="email" id="form2" class="form-control" [formControl]="subscriptionFormModalEmail"
                 mdbInput mdbValidate>
          <label for="form2">Your email</label>
          <mdb-error
            *ngIf="subscriptionFormModalEmail.invalid && (subscriptionFormModalEmail.dirty || subscriptionFormModalEmail.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="subscriptionFormModalEmail.valid && (subscriptionFormModalEmail.dirty || subscriptionFormModalEmail.touched)">
            Input valid
          </mdb-success>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="indigo" class="waves-light" mdbWavesEffect>Send
          <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
        </button>
      </div>
    </div>
  </div>
</div>

    <!-- List of posts -->
    <div class="card-deck">
        <mdb-card>
            <mdb-card-body>
                <mdb-card-title>
                    <h5>
                        <!-- Posters name -->
                        Adelaide
                    </h5>
                </mdb-card-title>
                <mdb-card-text>
                    <!-- posts from database to here -->
                    <p>Welcome to The Chat</p>
                </mdb-card-text>
            </mdb-card-body>
            <mdb-card-footer>
                <!-- commect button -->
                <a mdbBtn floating="true" size="lg" mdbWavesEffect>
                    <mdb-icon far icon="comment-dots"></mdb-icon>
                </a>

                <!-- like button -->
                <a mdbBtn floating="true" size="lg" (click)="count = count + 1" mdbWavesEffect>
                    <mdb-icon far icon="heart"></mdb-icon>
                    <span>
                        {{count}}
                    </span>
                </a>

                <!-- delete button -->
                <a mdbBtn floating="true" size="lg" (click)="data=''" mdbWavesEffect>
                    <mdb-icon far icon="trash-alt"></mdb-icon>
                </a>
            </mdb-card-footer>
        </mdb-card>

    </div>

    <!-- New post textarea popup -->

    <!-- comment textarea popup -->
    <!-- <mdb-card id="comment">
            <mdb-card-body>
              <mdb-card-text>
                  comment from the database
                  This is my comment
              </mdb-card-text>
              <div class="flex-row">
                 <a mdbBtn floating="true" size="lg" mdbWavesEffect>
                    <mdb-icon far icon="trash-alt"></mdb-icon>
                </a>
              </div>
            </mdb-card-body>
          </mdb-card> -->

    